.infinite-list {
  /* We need to limit the height and show a scrollbar */
  width: 100%;
  height: 30em;
  overflow: auto;
  margin: none;
  padding-left: 0px;
  border-bottom: 1px solid black;
}

.th-service ,.th-source,.th-date {
  width: 140px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black;
}

th {
  color: dark;
}

button {
  width: -webkit-fill-available;
}