table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black;
}

th {
  background-color: lightgrey;
  text-transform: capitalize;
}

th:hover,
label:hover {
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.controls-languaje,
.controls-group {
  padding: 10px;
}

.infinite-list {
  width: 100%;
  height: 30em;
  overflow: auto;
  margin: none;
  padding-left: 0px;
  border-bottom: 1px solid black;
}

.th-service,
.th-source,
.th-date {
  width: 140px;
}
